

html{

  width: 100%;

}
body{

 

  
    
    background-color: white;
    
    margin: auto;
    
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(224, 224, 224);
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    
    
  }
  
  li a {
    display: block;
    color: rgb(90, 133, 120);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:rgb(90, 133, 120);
    color: white;
  }

  
  


h1{
  margin: 0 auto;
  text-align: center;
}



  .img1{
   
    
   
    max-height: 400px;
    overflow: hidden;

  }

.imagen1{
  
  height: 100%;
  width: 100%;
}

.gallery{

  padding: 100px;
  gap: 10px;

  margin: 0 auto;
  
  
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  background-color: white;
  /* border: green solid 1px; */
  width: 80%;
  height: 900px;
  /* padding-top: 30px;
  padding-bottom: 30px; */

  /* animation-name: galeria1;
  animation-duration: 2s;
   */
  

}


@keyframes galeria1{
  from{width: 0%;
    height: 0%;}
  to{width: 80%;
    height: 900px;}
} 


.galeria1a{

  
  grid-column: 1/3;
  grid-row: 1/3;
  /* border: blue solid 1px; */

  overflow: hidden;
  background-image: url(img/galeria2.jpg);
  background-size: cover;
  padding: 100px;

  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}




.galeria2a{

  
  grid-column: 3/4;
  grid-row: 1/4;
  /* border: blue solid 1px; */

  overflow: hidden;
  background-image: url(img/galeria1.jpg);
  background-size: cover;

}

.galeria3a{


  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(img/galeria3.jpg);
  background-size: cover;

}

.galeria4a{


  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url(img/galeria4.jpg);
  background-size: cover;

}


.footer{


  height: 300px;
  background: rgb(90, 133, 120);

}

.a{

  background-color: rgb(90, 133, 120);
  width: 100%;
  height: 300px;


}